ul {
    padding-left: 0;
    list-style: none;
}

ul li {
    width: 24.5%;
    display: inline-block;
}

ul li a {
    width: 100% !important;
    text-align: center;
    background-color: #0A84FF;
    margin: 3px;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

li :hover {
    opacity: 0.8;
    filter:alpha(opacity=80);
    background-color: #0A84FA;
    text-decoration: none !important;
}

h3 {
    margin-top: 10px !important;
}

.login-brand {
    margin:20px 0;
    margin-top:40px;
    font-size:24px;
    text-transform:uppercase;
    letter-spacing:4px;
    color:#666;
    text-align:center
}

.tag {
    background-color:#fff;
    border-radius:3px;
    border:none;
}

.none {
    display: none;
}

.synopsis {

}